<div class="background">

    <div class="TitleContainer">
        <p class="Title">Customer Home</p>
        <div></div>
        <img class="Logo" src="../../assets/blue-logo.png">
    </div>

    <div class="outerquickBox">
        <div>
            <div class="quickBoxes"></div>
            <div class="quickBoxes"></div>
            <div class="quickBoxes"></div>
            <div class="quickBoxes"></div>
        </div>
    </div>

    <div class="outerLayout">

        <div class="layout leftLayout">

        </div>
        <div class=" rightLayout">
    
        </div>

        <div class="layout leftLayout">

        </div> 
    </div>

</div>

