#login_background {
    /* The image used */
    position:fixed;
    background-image: url("../../assets/images/LoginPage.png");
    /* Full height */
    height: 100%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}