.navigation {
    p{
        display: inline-block;
        margin: 10px;
    }
}




.background {
    /* The image used */
    position:fixed;
    bottom:0px;
    background-image: url("../assets/Login-Skyline.png");
    /* Full height */
    height: 70%; 
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
